out/*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.user
*.dotsettings
*.dotsettings.*
~$*
.DS_Store/
modules/*
kara/demo/bin/*
.idea/workspace.xml
kara-SNAPSHOT.zip
lib/kotlin-runtime.jar
lib/kotlin-runtime-sources.jar
**/kotlin-runtime.jar
samples/KaraDemo/bin
src/Kootstrap/content/less/*.css
