out/*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.user
*.dotsettings
*.dotsettings.*
~$*
.DS_Store/
modules/*
KaraDemo/bin/*
.idea/workspace.xml
kara-SNAPSHOT.zip
lib/kotlin-runtime.jar
**/kotlin-runtime.jar
samples/KaraDemo/bin

