out/*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.user
*.dotsettings
*.dotsettings.*
~$*
.DS_Store/
modules/*
kara/demo/bin/*
.idea/workspace.xml
kara-SNAPSHOT.zip
lib/kotlin-runtime.jar
lib/kotlin-runtime-sources.jar
**/kotlin-runtime.jar
samples/kara/demo/bin
src/Kootstrap/browser/less/*.css
!src/Kootstrap/browser/less/bootstrap.min.css
!src/Kootstrap/browser/less/bootstrap.css
