package ${appPackage}.controllers

import kara.controllers.*
import ${appPackage}.views.$controllerSlug.*

class ${controllerClassName}() : BaseController() {
    Get("index") fun index() : ActionResult {
        return Index()
    }

}